body {
  background-color: #EFEFEF !important;
  font-family: 'Quicksand', sans-serif !important;
}
a {
  cursor: pointer;
}
.clear{
  margin-top:20px;
}

.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;

}
.page-heading{
  text-align: center;
  margin:  0px 0px !important;
  margin-top: 10px!important;
}
.top-button {
  padding: 20px 30px;
  text-align: center;
}
.pages {
  text-align: center;
}
.back-div {
  padding: 20px 0px
}
.all-title {
  margin: 0px 0px !important;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #078898;
  font-size: 25px;
}
.list-group-item {
  background-color: #EFAA78 !important;
  color: white !important;
  text-align: center !important;
  font-size: 20px !important;
}
.cancel-btn {
  border-radius: 0px !important;
}
