<!DOCTYPE html>
<div class="back-div">
  <button class="cancel-btn btn btn-default" type="button" name="button" ui-sref="home">Back</button>
</div>

<div class="all-title page-header">
  <h3>{{blog.title}}</h3>
</div>
<div class="list-group" >
    <a class="list-group-item"><b>Published: </b>{{blog.publish}}</a>
    <a class="list-group-item"><b>Writer: </b>{{blog.user.username}}</a>
</div>
<div class="list-group">
  <a class="list-group-item"><b>Blog Content: </b>{{blog.content}}</a>
</div>
<div class="all-title" ng-if="blog.comments.length">
  <h4>Comments</h4>
</div>
<div class="list-group" ng-repeat="comment in blog.comments">
  <a class="list-group-item">{{comment.content}}</a><span></span>
</div>
<div>
  <a class="genres-btn btn btn-primary" ui-sref="editBlog({id:blog.title})">Edit</a>
</div>
