<div class="top-button">
<button ui-sref="newBlog" class="new-track-btn btn-primary btn-lg ">Add New Blog</button>
</div>
<div class="page-heading page-header">
  <h3 class="all-title">All Blogs</h3>
</div>
<div class="search">
	<div class="row">
        <div class="search-bar col-lg-12 col-sm-6 col-sm-offset-3">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" ng-model="query">
                    <span class="input-group-addon">
                        <button type="submit"  ui-sref="searchView({q:query})">
                            <span class="glyphicon glyphicon-search" ></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
	</div>
</div>


<div class="list-group" >
  <div  ng-repeat="blog in blogs.results">
    <a class="list-group-item" ui-sref="viewBlog({blogurl:blog.url})">{{blog.title}}
			<span>{{blog.publish}}</span></a>
  </div>

</div>
